*{
    box-sizing: border-box;
    
}
img{
    float: left;
    margin: 0;
    width: 80px;
}


#contenitore-top, .viola {
    text-align: center;
    width: 70%;
    margin: auto;
}

h1{
    color: rgb(255, 0, 119);
    font-family: 'Fredoka', sans-serif; 
    padding-bottom: 15px;
    padding-top: 9px;
}
h3{
    font-family: 'Fredoka', sans-serif;
    padding-bottom: 4px;
}


.row{
    width: 70%;
    margin: auto;
}

.row::after{
    content: "";
    display: table;
    clear:both;
}

.col{
    float: left;
    width: calc((100% / 3) - 28px);
    margin-right: 13px;
    background-color: rgb(1, 1, 26);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bianco{
    color: #ffffff;
    margin: 0;
    margin-top: 7px;
    font-size: 13px;
}

.blu{
    color: rgb(68, 171, 255);    
    margin: 0;
    font-size: 13px;
    margin-left: 14px;
}

