*{
    box-sizing: border-box;
}

#contenitore-top, h1, .col{
    text-align: center;
    width: 70%;
    margin: auto;
}

h1{
    color: rgb(255, 0, 119);
    font-family: 'Fredoka', sans-serif; 
    padding-bottom: 15px;
    padding-top: 9px;
}

.col img{
    height: 100px;
    float: left;
    margin-right: 10px;
}

.row{
    width: 70%;
    margin: auto;
}

.row::after{
    content: "";
    display: table;
    clear:both;
}

.col{
    float: left;
    min-height: 65px;
    width: calc((100% / 3) - 13px);
    height: auto;
    margin-right: 13px;
    margin-bottom: 27px;
    border: solid 1px black;
}

